<div id="{{wsId}}"></div>
<div id={{ concat this.wsId  "wave-timeline"}}></div>
{{#if error}}
    <p class="wavesurfer--error">{{error}}
    </p>
{{else}}

    {{#unless isReady}}
        Loading Audio {{percentage}}
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    {{/unless}}
    {{#if controls}}
        {{#if wavesurferStatus.isPlaying }}
            <button {{action "togglePlayer"}} class="wavesurfer--button">Pause</button>
        {{else}}
            <button {{action "togglePlayer"}} class="wavesurfer--button">Play</button>
        {{/if}}
        <button {{action "stopPlayer"}} class="wavesurfer--button">Stop</button>
    {{/if}}
{{/if}}


{{yield}}