<h1>Usage</h1>

Ember Wavesurfer plays on sound at a time. It exposes the service wavesurferService


{{#docs-demo as |demo|}}
    {{#demo.example name='wavesufer-demo2.hbs'}}
        <p>currentTime: {{ wavesurferService.currentTime }} </p>
        <p>duration: {{ wavesurferService.duration }}</p>
        <EmberWavesurfer @url="../assets/GalaxyClass.mp3" />
    {{/demo.example}}
    {{demo.snippet 'wavesufer-demo2.hbs'}}
{{/docs-demo}}
<h1>Using Json</h1>
<p>Web Audio needs the whole file to decode it in the browser, large files take a long time. The best around this is to
    load pre-decoded waveform data to draw the waveform immediatelely. </p>
<p><a href="https://wavesurfer-js.org/faq/" target="_blank">See here for details on how to create waveform data.</a></p>
{{#docs-demo as |demo|}}
    {{#demo.example name='wavesufer-json.hbs'}}
        <EmberWavesurfer @url="../assets/GalaxyClass.mp3" @json="../assets/GalaxyClass.json" />
    {{/demo.example}}
    {{demo.snippet 'wavesufer-json.hbs'}}
{{/docs-demo}}


<h1>wavesurferService</h1>
<p>Access Wavesurfer <a href="https://wavesurfer-js.org/docs/methods.html" target="_blank">methods</a> directly using
    <strong>wavesurferService.wavesurfer</strong></p>

<p><strong>wavesurferService </strong> will supply</p>
<ul>
    <li>isPlaying (boolean)</li>
    <li>currentTime</li>
    <li>duration</li>
    <li>id (the id of clip playing)</li>
</ul>
{{#docs-demo as |demo|}}
    {{#demo.example data-test-id='docs-demo-multiple.hbs'}}
        {{!-- BEGIN-SNIPPET docs-demo-multiple.hbs --}}
        <button onclick={{action 'playPause'}} class='docs-btn'>
            {{#if wavesurferService.isPlaying}}Pause{{else}}Play{{/if}}
        </button>
        <p>Current clip is <strong>{{wavesurferService.id}}</strong></p>

        {{!-- END-SNIPPET --}}
    {{/demo.example}}

    {{demo.snippet 'docs-demo-multiple.hbs'}}
    {{demo.snippet 'docs-demo-multiple.js' label='component.js'}}
{{/docs-demo}}